{% extends "base.html" %}
{% load cms_tags menu_tags static sekizai_tags %}

{% block navbar %}
<script>
// Logo resize on scroll
window.addEventListener('scroll', function() {
  const nav = document.querySelector('.floating-navbar');
  if (!nav) return;
  if (window.scrollY > 24) {
    nav.classList.add('shrink');
  } else {
    nav.classList.remove('shrink');
  }
});
</script>

<header class="sticky-top py-lg-2">
  <nav class="container navbar navbar-expand-lg navbar-dark floating-navbar bg-secondary shadow">
    <div class="container-lg px-0 mx-3">
      <span class="navbar-brand d-flex align-items-center">
        <img src="{% static 'logo-centro-mistra.png' %}" alt="" width="60" height="60" class="logo-resize">
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Apri menù di navigazione">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">{% block menubar %}{% show_menu 0 100 100 100 'menu/menu.html' %}{% endblock %}</ul>
      </div>
    </div>
  </nav>
</header>
{% endblock %}