:root {
    --bs-body-font-size: 1.1rem;
    --bs-primary: #002e42;
    --bs-primary-rgb: 0, 46, 66;
    --bs-secondary: #3079b5;
    --bs-secondary-rgb: 48, 121, 181;
    --bs-success: #1c9b60;
    --bs-success-rgb: 28, 155, 96;
    --bs-dange: #dd4050;
    --bs-danger-rgb: 221, 64, 80;
    --bs-light-rgb: 251, 252, 252;
    --bs-link-color-rgb: 3, 103, 252;
}

#root {
    color: initial;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.content-wrapper:empty {
    display: none;
}
